/* styles.css */
.navbar-container {
    /* Atur ukuran logo */
    width: 200px;
    height: 40px;
    /* Atur margin atau padding jika diperlukan */
  }

  .logo-container {
    /* Atur ukuran logo */
    width: 70px;
    /* Atur margin atau padding jika diperlukan */
  }
  